* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #9792e4;
    --color-secondary: #0084fd;
    --color-secondary-light: #b5ddff;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

a {
    color: unset;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--color-secondary);
    color: white;
}

.container {
    width: 972px;
    margin: 0 auto;
}

.hamburger-icon {
    width: 3rem;
}

.hamburger-container {
    text-align: right;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.btn:hover {
    background-color: #0084fd;
    color: white;
}

.non-visible-lg {
    display: none;
}

/* Flex Classes
        .col classes names are expressed in fraction of the total father width.
        example: .col-2-3 have flex-basis: 66.(6)%
*/

.row {
    display: flex;
}

.spc-btw {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1-3 {
    flex-basis: calc(100% / 3);
}

.col-2-3 {
    flex-basis: calc(100% / 3 * 2);
}

/* Paddings */

.padding-normal {
    padding: 2rem 1rem;
}

.padding-small {
    padding: 1rem 1rem;
}

/* Media queries 
    Breakpoints
    576px - mobile
    768px - tablet
    992px - desktop
*/

@media screen and (max-width: 992px) {
    .container {
        width: 748px;
    }

    .non-visible-lg {
        display: block;
    }

    .non-visible-md {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 450px;
    }

    .justify-right-md {
        justify-content: right;
    }
}

@media screen and (max-width: 470px) {
    .container {
        width: 100%;
    }
}