* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #9792e4;
    --color-secondary: #0084fd;
    --color-secondary-light: #b5ddff;

    --normal-gap: 1rem;
    --large-gap: 2rem;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.7rem;
}

a {
    color: unset;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--color-secondary);
    color: white;
    z-index: 10;
}

.container {
    width: 972px;
    margin: 0 auto;
}

.medium-container {
    width: 748px;
}

.bg-primary {
    background-color: var(--color-primary);
}

.hamburger-icon {
    width: 3rem;
}

.hamburger-container {
    text-align: right;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 20px;
    display: inline-block;
}

.btn.btn-secondary {
    background-color: var(--color-secondary);
    color: white;
    font-weight: bold;
    padding: 0.5rem 2.5rem;
}

.btn:hover {
    background-color: #0084fd;
    color: white;
}

.non-visible-lg {
    display: none;
}

.large-img {
    width: 80%;
}

.full-width {
    width: 100%;
}

.card {
    padding: 2rem 1rem;
    height: 100%;
}

.card h4 {
    color: var(--color-secondary);
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.card h3 {
    color: var(--color-secondary);
    font-size: 1.5rem;
}

.card p {
    line-height: 1.5rem;
    margin: 1rem 0;
    color: #5f6e7b;
}

.card-relative {
    position: relative;
}

.card-secondary-light {
    background-color: var(--color-secondary-light);
}

.card-icon-container {
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.card-icon {
    height: 70px
}

.apple-container {
    display: inline-block;
}

.apple-logo {
    height: 1rem;
}

.border-radius-normal {
    border-radius: 15px;
}

.border-radius-large {
    border-radius: 50px;
}

.center-text {
    text-align: center;
}

.relative-bottom {
    position: relative;
    bottom: -35px;
    overflow: hidden;
}

.strategic-planning {
    color: white;
}

.strategic-planning h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.strategic-planning .img-container {
    margin-bottom: 5rem;
}

.app-developement {
    background-color: #FFFFFF;
    padding: 2rem;
}

.app-developement h3 {
    padding: 1.2rem 0;
}

.app-developement h6 {
    font-style: italic;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: normal;
}

.arrow-down {
    width: 0.8rem;
}

.arrow-container {
    padding: 0.8rem;
    width: 3rem;
    display: inline-block;
    margin-top: 1rem;
}

.testimonial-image {
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.left-text {
    text-align: left;
}

.testimonial .card {
    color: white;
    margin-bottom: 1.5rem;
}

.testimonial .card p {
    color: white;
    line-height: 2rem;
}

.testimonial h6 {
    color: #5f6e7b;
    font-size: 1rem;
    margin: 1rem auto;
    font-weight: normal;
}

.testimonial h2 {
    color: var(--color-primary);
    padding: 1.5rem 0;
    font-size: 2.5rem;
}

.testimonial p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.quotes-icon {
    width: 1.5rem;
}

.benefits {
    color: var(--color-primary);
}

.benefits .card {
    background-color: white;
    padding: 2rem 1rem;
}

.benefits .card h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.benefits .card h3 {
    color: var(--color-primary);
}

.btn.bg-primary {
    color: white;
    padding: 0.5rem 2rem;
    background-color: var(--color-primary);
}

.benefits h2 {
    color: white;
    text-align: center;
    padding: 2.5rem 0;
    font-size: 3rem;
}

.relative-img-container {
    position: relative;
}

.quotes.absolute-quotes {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-primary);
    text-align: right;
}

.quotes.absolute-quotes .quotes-icon {
    width: 27%;
}

.about-us {
    color: var(--color-primary);
}

.about-us p {
    color: black;
    padding-right: 3rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.about-us h1 {
    padding: 2rem 0;
    font-size: 4rem;
}

.about-us h3 {
    padding: 2rem 0;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.linkedin-icon {
    width: 1rem;
    position: relative;
    bottom: -3px;
    margin-right: 0.3rem;
}

.linkedin-container {
    display: inline-block;
}

.about-us .btn.bg-primary {
    padding-top: 4px;
    font-size: 0.9rem;
}

/* Flex Classes
        .col classes names are expressed in fraction of the total father width.
        example: .col-2-3 have flex-basis: 66.(6)%
*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.normal-gap {
    gap: var(--normal-gap);
}

.large-gap {
    gap: var(--large-gap);
}

.spc-btw {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-bottom {
    align-items: flex-end;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1-3 {
    flex-basis: calc(100% / 3 - var(--normal-gap));
}

.col-1-2 {
    flex-basis: calc(50% - var(--normal-gap));
}

.col-2-3 {
    flex-basis: calc(100% / 3 * 2 - var(--normal-gap));
}

.col-1-2-large-gap {
    flex-basis: calc(50% - var(--large-gap));
}

.col-1-3-large-gap {
    flex-basis: calc(100% / 3 - var(--large-gap));
}

.col-1-4 {
    flex-basis: calc(25% - var(--large-gap));
}

.col-3-4 {
    flex-basis: calc(75% - var(--large-gap));
}

.container-width500 {
    max-width: 500px;
    margin: auto;
}

.get-started h6 {
    color: #5f6e7b;
    font-size: 1rem;
    margin: 1rem auto;
    font-weight: normal;
}

.get-started p {
    color: rgb(229, 223, 238);
    line-height: 2rem;
    padding: 2rem 0;
}

.get-started h2 {
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.get-started h1 {
    font-size: 5rem;
    color: #FDC15F;
}

.get-started .copyright a {
    padding: 0;
    text-decoration: underline;
}

.get-started p.copyright {
    font-size: 0.9rem;
}

.get-started .btn {
    padding: 1.5rem 3rem;
    border-radius: 50px;
    font-size: 1.2rem;
    color: var(--color-primary);
}

.get-started .btn:hover {
    color: white;
    background-color: #584ee3;
}

footer {
    background-color: #333333;
}

footer .container-width500 p:first-child {
    margin-bottom: 4rem;
}

footer p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: rgb(229, 223, 238);
}

footer a {
    padding: 0;
    text-decoration: underline;
    color: var(--color-primary);
}

/* Paddings */

.padding-normal {
    padding: 4rem 1rem;
}

.padding-small {
    padding: 1rem 1rem;
}

.padding-top-xxl {
    padding-top: 4rem;
}

/* Media queries 
    Breakpoints
    576px - mobile
    768px - tablet
    992px - desktop
*/

@media screen and (max-width: 992px) {
    .container {
        width: 748px;
    }

    .non-visible-lg {
        display: block;
    }

    .non-visible-md {
        display: none;
    }

    .col-1-1-md {
        flex-basis: 100%;
    }

    .col-1-2-md {
        flex-basis: calc(50% - var(--large-gap));
    }

    .col-2-3-md {
        flex-basis: calc(100% / 3 * 2 - var(--normal-gap));
    }

    .col-1-3-md {
        flex-basis: calc(100% / 3 - var(--normal-gap));
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .justify-right-md {
        justify-content: right;
    }

    h3.large-text-md {
        font-size: 4rem;
    }

}

@media screen and (max-width: 576px) {
    .col-1-1-sm {
        flex-basis: 100%;
    }

    .justify-center-sm {
        justify-content: center;
    }

    .center-text-sm {
        text-align: center;
    }

    h3.large-text-sm {
        font-size: 2rem;
    }

    h1.large-text-sm {
        font-size: 3rem;
    }
}